<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Attraction</ion-title>
    <ion-buttons slot="end">
      <cr-connection-state></cr-connection-state>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="attraction">
    <img [src]="attraction.featuredImage.url"
         *ngIf="attraction.featuredImage">
    <ion-card>
      <ion-card-title>
        {{attraction.name}}
      </ion-card-title>
      <ion-card-content>
        {{attraction.description}}
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="attraction.mainLink">
      <ion-card-title>
        Links
      </ion-card-title>
      <ion-card-content>
        <ion-label>Main Link</ion-label>
        <a class="item" href="#" (click)="openAttractionLink(attraction.mainLink)">
          {{attraction.mainLink.link}}
        </a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
