<ion-header>
  <ion-toolbar>
    <ion-title>Editing: {{attraction.name}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="end" name="arrow-up"></ion-icon>
      </ion-button>
      <cr-connection-state></cr-connection-state>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- Name -->
    <ion-row>
      <!-- TODO: CI-46 material design styling -->
      <ion-col col-3>
        <ion-label>Name</ion-label>
      </ion-col>
      <ion-col col-9>
        <ion-input class="value-field"
                   [(ngModel)]="attraction.name">
        </ion-input>
      </ion-col>
    </ion-row>

    <!-- TODO: SVR-36 Add Category -->

    <!-- Type -->
    <ion-row>
      <ion-col col-3>
        <ion-label>Type</ion-label>
      </ion-col>
      <ion-col col-9>
        <ion-select class="value-field"
                    interface="popover"
                    [(ngModel)]="attraction.locationTypeId">
          <ion-select-option *ngFor="let locType of locTypes" [value]="locType.value">
            {{locType.text}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- Main Link Location -->
    <ion-row>
      <ion-col col-3>
        <ion-label>Main Link</ion-label>
      </ion-col>
      <ion-col col-9>
        <ion-textarea class="value-field" [(ngModel)]="attraction.mainLink.link"></ion-textarea>
      </ion-col>
    </ion-row>

    <!-- Description -->
    <ion-row>
      <ion-col col-3>
        <ion-label>Description</ion-label>
      </ion-col>
      <ion-col col-9>
        <ion-textarea class="value-field" [(ngModel)]="attraction.description"></ion-textarea>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
