<ion-header>
  <ion-toolbar>
    <ion-title>Editing: {{attraction.name}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="end" name="arrow-up"></ion-icon>
      </ion-button>
      <cr-connection-state></cr-connection-state>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <!-- Name -->
    <ion-item>
        <ion-label position="floating">
          Name
        </ion-label>
        <ion-input class="value-field"
                   [(ngModel)]="attraction.name">
        </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Category
      </ion-label>
      <ion-select class="value-field"
                  interface="popover"
                  (ionChange)="categoryHasChanged($event)"
                  [compareWith]="compareCategory"
                  [selectedText]="selectedCategory && selectedCategory.name"
                  [(ngModel)]="selectedCategory">
        <ion-select-option
          *ngFor="let category of categories"
          [value]="category"
        >
          {{category.name}}
       </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Type -->
    <ion-item>
        <ion-label position="floating">
          Type
        </ion-label>
        <ion-select class="value-field"
                    interface="popover"
                    [compareWith]="compareLocType"
                    [selectedText]="attraction.locationType && attraction.locationType.name"
                    [(ngModel)]="attraction.locationType">
          <ion-select-option
            *ngFor="let locType of locTypes"
            [value]="locType"
          >
            {{locType.name}}
          </ion-select-option>
        </ion-select>
    </ion-item>

    <!-- Main Link Location -->
    <ion-item>
        <ion-label position="floating">
          Main Link
        </ion-label>
        <ion-textarea
          class="value-field"
          placeholder="https://some-link.com/..."
          [(ngModel)]="attraction.mainLink.link">
        </ion-textarea>
    </ion-item>

    <!-- Description -->
    <ion-item>
        <ion-label position="floating">
          Description
        </ion-label>
        <ion-textarea class="value-field" [(ngModel)]="attraction.description"></ion-textarea>
    </ion-item>

  </ion-list>


</ion-content>
