<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <cr-connection-state></cr-connection-state>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-container" id="rolling-map">

    <div *ngIf="canSignalArrival()">
      <ion-fab horizontal="start" vertical="bottom">
        <ion-fab-button size="small" (click)="signalArrival()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

  </div>
</ion-content>
