<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start"
               *ngIf="course.name">{{course.name}}</ion-title>
    <ion-title slot="start"
               *ngIf="!course.name">Edit Course</ion-title>
    <ion-title slot="end"
               *ngIf="course.name">Attractions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-edge [hidden]="true"></app-edge>
  <ion-list>
    <!-- Existing Attractions -->
    <ion-item *ngFor="let attraction of attractions; let i = index; first as isFirst; last as isLast"
              [attr.data-index]="i">

      <span slot="start">
        <app-attraction-icon [attraction]="attraction"></app-attraction-icon>
      </span>

      <span>
        {{attraction.name}}
      </span>

      <span *ngIf="i > 0" class="link-path">
         <ion-icon name="return-left"
                   *ngIf="pathMetaList[i-1] && pathMetaList[i-1].hasEdges"
                   (click)="viewEdge(pathMetaList[i-1])"
                   color="success">
         </ion-icon>
         <ion-icon name="return-left"
                   *ngIf="pathMetaList[i-1] && !pathMetaList[i-1].hasEdges"
                   (click)="addEdge(pathMetaList[i-1])"
                   color="danger">
         </ion-icon>
      </span>

      <span slot="end">
        <ion-icon *ngIf="!isFirst"
                  name="arrow-up"
                  (click)="moveUp(i)"
        ></ion-icon>
      </span>

      <span slot="end">
        <ion-icon *ngIf="!isLast"
                  name="arrow-down"
                  (click)="moveDown(i)"
        ></ion-icon>
      </span>

      <span slot="end" class="close-icon">
        <ion-icon name="close-circle"
                  color="danger"
                  (click)="deleteRow(i)"
        >
        </ion-icon>
      </span>
    </ion-item>

    <!-- Item for adding new Attraction -->
    <ion-item>
      <app-attraction-suggest [course]="course"></app-attraction-suggest>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-button slot="start" (click)="cancel()">
            Cancel
          </ion-button>

          <ion-button slot="end" (click)="save()">
            Save
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
