<ion-header>
  <ion-toolbar>
    <ion-title>{{puzzle && puzzle.name}}</ion-title>
    <ion-buttons slot="end">
      <cr-connection-state></cr-connection-state>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="puzzle && puzzle.answers">

    <div class="question">
      {{puzzle.question}}
    </div>

    <!-- Answer Section -->
    <div *ngIf="answerSummary">
        <ion-item *ngFor="let answer of puzzle.answers"
                  class="answer-item">

          <span>
            <ion-label class="answerCount">
              {{answerSummary.answerMap[answer.key]}}
            </ion-label>
          </span>

          <span>
            <ion-note class="answer" [color]="answerColor(answer.key)">
              {{answer.answer}}
            </ion-note>
          </span>

        </ion-item>
    </div>

  </ion-grid>

  <app-depart></app-depart>

</ion-content>
