<ion-header translucent>
  <ion-toolbar>
    <ion-title>FlagDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Provide details for {{flag.details.attribute}}</ion-list-header>
    <ion-item>
      <ion-textarea class="value-field" [(ngModel)]="flag.details.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button slot="end"
                  (click)="save()">
        Save
      </ion-button>
    </ion-item>
</ion-list>
</ion-content>
