<ion-header>
  <ion-toolbar>
    <ion-title>{{puzzle.name}}</ion-title>
    <ion-buttons slot="end">
      <cr-connection-state></cr-connection-state>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="puzzle && puzzle.answers">

    <div class="question">
      {{puzzle.question}}
    </div>

    <!-- Answer Section -->
    <ion-item *ngFor="let answer of puzzle.answers">
        <div class="answer">
          <ion-button class="ion-text-wrap" style="height: 75px"
                      (click)="selectAsAnswer(answer.key)">
            {{answer.key}}: {{answer.answer}}
          </ion-button>
        </div>
    </ion-item>

  </ion-grid>

  <app-depart></app-depart>

</ion-content>
