<ion-fab horizontal="end" vertical="top">
  <!-- This button's 'click' event is automatically registered for the fab list; can't do crPreventDoubleClick. -->
  <ion-fab-button size="small" (click)="settingsFabAction($event)">
    <ion-icon name="settings"></ion-icon>
  </ion-fab-button>

  <ion-fab-list>
    <div class="labeledFab">
      <ion-label>Toggle Lat/Lon</ion-label>
      <ion-fab-button size="small"
                      crPreventDoubleClick
                      (throttledClick)="settingsToggleLatLon($event)">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </div>

    <div class="labeledFab">
      <ion-label>Toggle Auto-center</ion-label>
      <ion-fab-button size="small"
                      crPreventDoubleClick
                      (throttledClick)="settingsToggleAutoCenter($event)">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </div>

    <div class="labeledFab">
      <ion-label>Refresh Map</ion-label>
      <ion-fab-button size="small"
                      crPreventDoubleClick
                      (throttledClick)="refreshMap($event)">
        <ion-icon name="refresh"></ion-icon>
      </ion-fab-button>
    </div>

    <div class="labeledFab">
      <ion-label>Filter</ion-label>
      <ion-fab-button class="filter-fab">
        <ion-icon name="funnel"></ion-icon>
        <app-filter-popover></app-filter-popover>
      </ion-fab-button>
    </div>

  </ion-fab-list>
</ion-fab>


