<ion-fab horizontal="end" vertical="top">
  <!-- This button's 'click' event is automatically registered for the fab list; can't do crPreventDoubleClick. -->
  <ion-fab-button size="small" (click)="settingsFabAction($event)">
    <ion-icon name="settings"></ion-icon>
  </ion-fab-button>

  <ion-fab-list>
    <!-- until CI-34 is worked
    <div class="labeledFab">
      <ion-label>Toggle Lat/Lon</ion-label>
      <ion-fab-button size="small"
                      crPreventDoubleClick
                      (throttledClick)="settingsToggleLatLon($event)">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </div>
    -->

    <div class="labeledFab">
      <ion-label>Toggle Auto-center</ion-label>
      <ion-fab-button size="small"
                      crPreventDoubleClick
                      (throttledClick)="settingsToggleAutoCenter($event)">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </div>

  </ion-fab-list>
</ion-fab>


